
@{
    ViewBag.Title = "maintain_mc_model_bi_master";
}
@if (Session["GOALBAL_ID"] != null)
{
    <style>
    </style>
    <input type="hidden" value="@Session["GOALBAL_ID"].ToString()" id="temp_user" />

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>PANEL FILTER MACHINE MODEL MASTER</b></h5>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Machine Model</span>
                                    <input type="text" class="form-control" id="filllter_mc_model">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Machine Slot (Board)</span>
                                    <input type="text" class="form-control" id="filllter_board_mc_capacity">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="mt-1">
                        <h5> <b>BURN-IN MACHINE MODEL MASTER LIST</b></h5>
                        <button class="btn btn-sm btn-primary ml-2 mb-2 ms-Icon" data-bs-toggle="modal" data-bs-target="#modal_add_mc_model_master" id="add_board_master">
                            ADD MACHINE MODEL MASTER
                        </button>
                    </div>
                    <div class="table-responsive border-0">
                        <table class="table table-sm table-bordered table-hover caption-top" id="table_bi_mc_model_master">
                            <thead class="table-light border">
                                <tr>
                                    <th scope="col">Machine Model</th>
                                    <th scope="col">Machine Slot (Board)</th>
                                    <th scope="col">Tools</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            create_table_bi_mc_model_master_list();
            var table = $('#table_bi_mc_model_master').DataTable();

            function create_table_bi_mc_model_master_list() {
                $('#table_bi_mc_model_master').DataTable({
                    "destroy": true,
                    "searching": true,
                    "lengthChange": false,
                    "paging": false,
                    "bInfo": false,
                    "stateSave": false,
                    "scrollY": '70vh',
                    //"scrollX": true,
                    "scrollCollapse": true,
                    "ajax": {
                        "type": "POST",
                        "url": "./ajax_display_mc_model_master",
                        "datatype": "json"
                    },
                    columnDefs: [
                        { targets: [0, 1, 2], className: 'text-center' },
                    ],
                    "columns": [
                        { data: "BI_MC_MODEL", "name": "BI_MC_MODEL", "autoWidth": true },
                        { data: "BI_MC_CAPACITY_BOARD", "name": "BI_MC_CAPACITY_BOARD", "autoWidth": true },
                        {
                            "render": function (data, type, Me, meta) {
                                return '<button type="button" class="btn btn-sm btn-warning edit_mc_model mr-2" style="color:white;" aria-hidden="true" " data-bs-toggle="modal" data-bs-target="#modal_edit_mc_model_master" ' +
                                    'data-mc_model_run_no ="' + Me.BI_MC_MODEL_RUN_NO + '"  data-mc_model = "' + Me.BI_MC_MODEL + '" data-mc_model_slot = "' + Me.BI_MC_CAPACITY_BOARD + '" >EDIT</button >' +

                                    '<button type="button" class="btn btn-sm btn-danger delete_mc_model mr-2" style="color:white;" aria-hidden="true" " data-bs-toggle="modal" data-bs-target="#modal_edit_board_model_delete" ' +
                                    'data-mc_model_run_no ="' + Me.BI_MC_MODEL_RUN_NO + '" data-mc_model = "' + Me.BI_MC_MODEL + '" data-mc_model_slot = "' + Me.BI_MC_CAPACITY_BOARD + '" >DELETE</button> ';
                            }
                        },
                    ], // end columns
                });
            }

            // btn submit modal add mc model master
            $('#btn_submit_add_mc_model').click(function () {

                var add_model_mc_master = {
                    "BI_MC_MODEL": $("#input_add_model_mc").val(),
                    "BI_MC_CAPACITY_BOARD": $("#input_add_mc_model_capcity").val()
                }
                console.log(add_model_mc_master);
                $.ajax({
                    type: "POST",
                    url: "./ajax_add_mc_model_master",
                    data: { add_model_mc_master: add_model_mc_master },
                    datatype: "json",
                    success: function (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Adding',
                            text: 'Your M/C model master has been Adding.'
                            //    footer: '<a href="">Why do I have this issue?</a>'
                        })
                        console.log(JSON.stringify(data));
                        $('#table_bi_mc_model_master').DataTable().clear();
                        $('#table_bi_mc_model_master').DataTable().ajax.reload();
                        $('#modal_add_mc_model_master').modal('hide');
                    },
                    error: function (request, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            footer: '<a href="">Why do I have this issue?</a>'
                        })
                    }
                })
            });

            // GET data into input modal
            $(document).on("click", ".edit_mc_model", function () {
                var get_mc_model_run_no = $(this).data('mc_model_run_no');
                var get_mc_model = $(this).data('mc_model');
                var get_mc_model_slot = $(this).data('mc_model_slot');

                $(".modal-body #input_edit_mc_model_run_no").val(get_mc_model_run_no);
                $(".modal-body #input_edit_mc_model").val(get_mc_model);
                $(".modal-body #input_edit_mc_model_slot").val(get_mc_model_slot);
            });

            // btn submit modal edit mc model master
            $('#btn_submit_edit_mc_model').click(function () {
                var edit_mc_model_master = {
                    "BI_MC_MODEL_RUN_NO": $("#input_edit_mc_model_run_no").val(),
                    "BI_MC_MODEL": $("#input_edit_mc_model").val(),
                    "BI_MC_CAPACITY_BOARD": $("#input_edit_mc_model_slot").val()
                }
                console.log(edit_mc_model_master);
                $.ajax({
                    type: "POST",
                    url: "./ajax_edit_mc_model_master",
                    data: { edit_mc_model_master: edit_mc_model_master },
                    datatype: "json",
                    success: function (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Update',
                            text: 'Your M/C model master has been update.'
                            //    footer: '<a href="">Why do I have this issue?</a>'
                        })
                        console.log(JSON.stringify(data));
                        $('#table_bi_mc_model_master').DataTable().clear();
                        $('#table_bi_mc_model_master').DataTable().ajax.reload();
                        $('#modal_edit_mc_model_master').modal('hide');
                    },
                    error: function (request, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            footer: '<a href="">Why do I have this issue?</a>'
                        })
                    }
                })
            });

            $('#filllter_mc_model').on('change', function () {
                var search = [];
                $.each($('#filllter_mc_model'), function () {
                    search.push($(this).val());
                });

                search = search.join('|');
                table.column(0).search(search, true, false).draw();
            });

            $('#filllter_board_mc_capacity').on('change', function () {
                var search = [];
                $.each($('#filllter_board_mc_capacity'), function () {
                    search.push($(this).val());
                });

                search = search.join('|');
                table.column(1).search(search, true, false).draw();
            });
        });
    </script>

    <!-- Modal add mc model master -->
    <div class="modal fade" id="modal_add_mc_model_master" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4" id="exampleModalXlLabel"><b>ADD MACHINE MODEL MASTER</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3 col-xs-6">
                                <span class="input-group-text">Machine Model</span>
                                <input type="text" class="form-control board_model" id="input_add_model_mc" name="">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 col-xs-6">
                                <span class="input-group-text">Machine Slot (Board)</span>
                                <input type="number" class="form-control" id="input_add_mc_model_capcity">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="btn_submit_add_mc_model">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal edit mc model master -->
    <div class="modal fade" id="modal_edit_mc_model_master" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4"><b>EDIT MACHINE MODEL MASTER</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3 col-xs-6">
                                <input type="hidden" class="" id="input_edit_mc_model_run_no">
                                <span class="input-group-text">Machine Model</span>
                                <input type="text" class="form-control" id="input_edit_mc_model">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 col-xs-6">
                                <span class="input-group-text">
                                    Machine Slot (Board)
                                </span>
                                <input type="number" class="form-control" id="input_edit_mc_model_slot">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="btn_submit_edit_mc_model">Submit</button>
                </div>
            </div>
        </div>
    </div>

}
else
{
    Response.Redirect("~/Login/Login_axis");
}